<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>870157855250-1vtul3dtf582ti1vkg2f9ep9gpkf5kfq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870157855250-1vtul3dtf582ti1vkg2f9ep9gpkf5kfq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>870157855250-6o34nrd2p0sir1lv5tttlv9gscsg9sdm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCz0F623yTaHmLyI_dSOu0fVWVsqFTnHEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>870157855250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tw.com.cm-media.Taoyuan</string>
	<key>PROJECT_ID</key>
	<string>nmns-9403f</string>
	<key>STORAGE_BUCKET</key>
	<string>nmns-9403f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870157855250:ios:0b5ab33ad9a482d5b286cb</string>
	<key>DATABASE_URL</key>
	<string>https://nmns-9403f.firebaseio.com</string>
</dict>
</plist>